@model Pitstop.ViewModels.CustomerManagementNewViewModel
@{
    ViewData["Title"] = "Register Customer";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<h3>Customer Management - register customer</h3>

<form asp-controller="CustomerManagement" asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Customer.Nombre"></label>
        <input asp-for="Customer.Nombre" type="text" class="form-control" />
        <span asp-validation-for="Customer.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Direccion"></label>
        <input asp-for="Customer.Direccion" type="text" class="form-control" />
        <span asp-validation-for="Customer.Direccion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.CodigoPostal"></label>
        <input asp-for="Customer.CodigoPostal" type="text" class="form-control" />
        <span asp-validation-for="Customer.CodigoPostal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Poblacion"></label>
        <input asp-for="Customer.Poblacion" type="text" class="form-control" />
        <span asp-validation-for="Customer.Poblacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Telefono"></label>
        <input asp-for="Customer.Telefono" type="text" class="form-control" />
        <span asp-validation-for="Customer.Telefono" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Email"></label>
        <input asp-for="Customer.Email" type="text" class="form-control" />
        <span asp-validation-for="Customer.Email" class="text-danger"></span>
    </div>
    <span><button type="submit" class="btn btn-default">Register</button></span>
    <span><a asp-action="Index" asp-controller="CustomerManagement" class="btn btn-default">Cancel</a></span>
</form>
