@model Pitstop.ViewModels.CustomerManagementNewViewModel
@{
    ViewData["Title"] = "Register Customer";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<h3 id="PageTitle">Customer Management - register customer</h3>

<form asp-controller="CustomerManagement" asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Customer.EsPersona"></label>
        <input asp-for="Customer.EsPersona" type="text" class="form-control" />
        <span asp-validation-for="Customer.EsPersona" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Nombre"></label>
        <input asp-for="Customer.Nombre" type="text" class="form-control" />
        <span asp-validation-for="Customer.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Pais"></label>
        <input asp-for="Customer.Pais" type="text" class="form-control" />
        <span asp-validation-for="Customer.Pais" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.NIF"></label>
        <input asp-for="Customer.NIF" type="text" class="form-control" />
        <span asp-validation-for="Customer.NIF" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.FechaAlta"></label>
        <input asp-for="Customer.FechaAlta" type="text" class="form-control" />
        <span asp-validation-for="Customer.FechaAlta" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.FechaBaja"></label>
        <input asp-for="Customer.FechaBaja" type="text" class="form-control" />
        <span asp-validation-for="Customer.FechaBaja" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Direccion"></label>
        <input asp-for="Customer.Direccion" type="text" class="form-control" />
        <span asp-validation-for="Customer.Direccion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.PaisDireccion"></label>
        <input asp-for="Customer.PaisDireccion" type="text" class="form-control" />
        <span asp-validation-for="Customer.PaisDireccion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.CodigoPostal"></label>
        <input asp-for="Customer.CodigoPostal" type="text" class="form-control" />
        <span asp-validation-for="Customer.CodigoPostal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Poblacion"></label>
        <input asp-for="Customer.Poblacion" type="text" class="form-control" />
        <span asp-validation-for="Customer.Poblacion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Provincia"></label>
        <input asp-for="Customer.Provincia" type="text" class="form-control" />
        <span asp-validation-for="Customer.Provincia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Telefono"></label>
        <input asp-for="Customer.Telefono" type="text" class="form-control" />
        <span asp-validation-for="Customer.Telefono" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Telefono2"></label>
        <input asp-for="Customer.Telefono2" type="text" class="form-control" />
        <span asp-validation-for="Customer.Telefono2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Movil"></label>
        <input asp-for="Customer.Movil" type="text" class="form-control" />
        <span asp-validation-for="Customer.Movil" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.FechaExpNIF"></label>
        <input asp-for="Customer.FechaExpNIF" type="text" class="form-control" />
        <span asp-validation-for="Customer.FechaExpNIF" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.PoblacionExpNIF"></label>
        <input asp-for="Customer.PoblacionExpNIF" type="text" class="form-control" />
        <span asp-validation-for="Customer.PoblacionExpNIF" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Email"></label>
        <input asp-for="Customer.Email" type="text" class="form-control" />
        <span asp-validation-for="Customer.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.FechaNacimiento"></label>
        <input asp-for="Customer.FechaNacimiento" type="text" class="form-control" />
        <span asp-validation-for="Customer.FechaNacimiento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.PoblacionNacimiento"></label>
        <input asp-for="Customer.PoblacionNacimiento" type="text" class="form-control" />
        <span asp-validation-for="Customer.PoblacionNacimiento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.TipoPermiso"></label>
        <input asp-for="Customer.TipoPermiso" type="text" class="form-control" />
        <span asp-validation-for="Customer.TipoPermiso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.NumeroPermiso"></label>
        <input asp-for="Customer.NumeroPermiso" type="text" class="form-control" />
        <span asp-validation-for="Customer.NumeroPermiso" class="text-danger"></span>
    </div><div class="form-group">
        <label asp-for="Customer.FechaExpPermiso"></label>
        <input asp-for="Customer.FechaExpPermiso" type="text" class="form-control" />
        <span asp-validation-for="Customer.FechaExpPermiso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.FechaCadPermiso"></label>
        <input asp-for="Customer.FechaCadPermiso" type="text" class="form-control" />
        <span asp-validation-for="Customer.FechaCadPermiso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Email"></label>
        <input asp-for="Customer.Email" type="text" class="form-control" />
        <span asp-validation-for="Customer.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Moroso"></label>
        <input asp-for="Customer.Moroso" type="text" class="form-control" />
        <span asp-validation-for="Customer.Moroso" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.Bloqueado"></label>
        <input asp-for="Customer.Bloqueado" type="text" class="form-control" />
        <span asp-validation-for="Customer.Bloqueado" class="text-danger"></span>
    </div><div class="form-group">
        <label asp-for="Customer.NumeroTarjetaCred"></label>
        <input asp-for="Customer.NumeroTarjetaCred" type="text" class="form-control" />
        <span asp-validation-for="Customer.NumeroTarjetaCred" class="text-danger"></span>
    </div><div class="form-group">
        <label asp-for="Customer.TitularTarjetaCred"></label>
        <input asp-for="Customer.TitularTarjetaCred" type="text" class="form-control" />
        <span asp-validation-for="Customer.TitularTarjetaCred" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Customer.FechaCadTarjetaCred"></label>
        <input asp-for="Customer.FechaCadTarjetaCred" type="text" class="form-control" />
        <span asp-validation-for="Customer.FechaCadTarjetaCred" class="text-danger"></span>
    </div>
    <span><button id="SubmitButton" type="submit" class="btn btn-default">Register</button></span>
    <span><a id="CancelButton" asp-action="Index" asp-controller="CustomerManagement" class="btn btn-default">Cancel</a></span>
</form>
