@model Pitstop.ViewModels.ContractManagement.ContractManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Contract Management - Offline</h3>
<p>Unfortunately the contract management module is offline at the moment. Try again soon.</p>

