@model Pitstop.ViewModels.VehicleOwnerManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Vehicle Owner Management - Offline</h3>
<p>Unfortunately the vehicle owner management module is offline at the moment. Try again soon.</p>


