@model Pitstop.ViewModels.VehicleManagementViewModel
@{
    ViewData["Title"] = "Vehicles Overview";
}
<h3 id="PageTitle">Vehicle Management - overview</h3>

<table class="table">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Marca</th>
            <th>Modelo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.Vehicles)
        {
            <tr class="clickable" onclick="location.href = '@(Url.Action("Details", "VehicleManagement", new { id = vehicle.Codigo }))'">
                <td>@vehicle.Matricula</td>
                <td>@vehicle.Marca</td>
                <td>@vehicle.Modelo</td>
            </tr>
        }
    </tbody>
</table>
<a id="RegisterVehicleButton" asp-action="New" asp-controller="VehicleManagement" class="btn btn-default">Register vehicle</a>


