@model Pitstop.ViewModels.VehicleInsuranceManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Vehicle Insurance Management - Offline</h3>
<p>Unfortunately the vehicle insurance management module is offline at the moment. Try again soon.</p>

